# Database Configuration
MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=your_database_name

# Server Configuration  
AUTHOR=DHVuxDev
LOCAL_DEV_APP_HOST=localhost
LOCAL_DEV_APP_PORT=3000
BUILD_MODE=dev

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# JWT Configuration
JWT_ACCESS_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your-super-secret-refresh-jwt-key-here
JWT_REFRESH_EXPIRES_IN=7d
